.demo{
  width: 100%;
  height: 100%;
}
.demo .send-msg, .demo .receive-msg{
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.title{
  display: inline-block;
  width: 100px;
  text-align: left;
}